# Database
DATABASE_URL=file:/home/z/my-project/db/custom.db

# XPayments Gateway
XPAYMENTS_SECRET_KEY="sk_live_..."
XPAYMENTS_STORE_ID="b2816d52-5e54-4942-b301-2a2c42c2093d"
NEXT_PUBLIC_XPAYMENTS_API="https://api.xpayments.digital"

# NeXFlowX (legacy)
NEXFLOWX_API_KEY=""
NEXFLOWX_WEBHOOK_SECRET=""